footer {
    background-color: var(--dark_blue);
    color: #fff;
}

footer h2 {
    font-size: 1rem;
}

footer img {
    width: 175px;
}

footer p {
    font-size: 0.875rem;
    font-weight: 100;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin-top: 2px;
}

footer ul li a {
    color: #fff;
    font-size: 0.785rem;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 680px) {
    footer {
        text-align: center;
    }

    footer section {
        margin-top: 50px;
    }
}