<footer>
    <article class="grid grid-cols-4 grid-gap main-padding main-wrapper">
        <section class="col">
            <img alt="Government PH Seal" src="ico/government-ph-seal.png">
        </section>
        
        <section class="col">
            <h2>REPUBLIC OF THE PHILIPPINES</h2>

            <p class="small-top-gap">All content is in the public domain unless otherwise stated.</p>
        </section>

        <section class="col">
            <h2>ABOUT GOVPH</h2>

            <p class="small-top-gap">Learn more about the Philippine government, its structure, how government works and the people behind it.</p>

            <ul class="small-top-gap">
                <li><a href="http://www.gov.ph/">GOV.PH</a></li>
                <li><a href="http://www.gov.ph/data">Open Data Portal</a></li>
                <li><a href="http://www.officialgazette.gov.ph/">Official Gazette</a></li>
            </ul>
        </section>

        <section class="col">
            <h2>GOVERNMENT LINKS</h2>

            <ul class="small-top-gap">
                <li><a href="http://president.gov.ph/">Office of the President</a></li>
                <li><a href="http://ovp.gov.ph/">Office of the Vice President</a></li>
                <li><a href="http://www.senate.gov.ph/">Senate of the Philippines</a></li>
                <li><a href="http://www.congress.gov.ph/">House of Representatives</a></li>
                <li><a href="http://sc.judiciary.gov.ph/">Supreme Court</a></li>
                <li><a href="http://ca.judiciary.gov.ph/">Court of Appeals</a></li>
                <li><a href="http://sb.judiciary.gov.ph/">Sandiganbayan</a></li>
            </ul>
        </section>
    </article>
</footer>