<link rel="apple-touch-icon" sizes="180x180" href="img/icos/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/icos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="img/icos/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="img/icos/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/icos/favicon-16x16.png">
<link rel="manifest" href="img/icos/site.webmanifest">
<link rel="mask-icon" href="img/icos/safari-pinned-tab.svg" color="#123c69">

<link href="css/config.css" rel="stylesheet">
<link href="css/header.css" rel="stylesheet">
<link href="css/contact.css" rel="stylesheet">
<link href="css/footer.css" rel="stylesheet">
<link href="css/technical.css" rel="stylesheet">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="Asiole Tan, Regine Temporal, Ronamae Pizarro">
<meta name="description" content="A Barangay Portal Website for Agusi Camalaniugan Cagayan in partial fulfillment of Capstone Project done by CSU-Aparri IT Students which was designed and developed using PHP.">
<meta name="keywords" content="Barangay, Agusi, Barangay Agusi, Camalaniugan, Barangay Website, Barangay Portal Website, Residence Profiling System, Capstone Project">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<meta name="apple-mobile-web-app-title" content="Barangay Agusi">
<meta name="application-name" content="Barangay Agusi">
<meta name="msapplication-TileColor" content="#123c69">
<meta name="msapplication-TileImage" content="img/icos/mstile-144x144.png">
<meta name="theme-color" content="#123c69">

<script defer src="https://kit.fontawesome.com/9fa37eff98.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script defer src="js/hamburger-menu.js"></script>

<title>Barangay Agusi: Official Portal Website</title>
